@page "/map-demo"
@rendermode InteractiveServer

<PageTitle>Map Demo</PageTitle>

<h3>Map Demo</h3>

<div style="height:400px;width:400px;">
    <AzureMap Class="azMap" />
</div>

<style>
    .azMap {
        height: 100%;
        width: 100%;
    }
</style>

@code {

}
